.tabla_contacto {
    h3 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 28px;
  
      &:hover {
        color: #DA030B;
      }
    }
  
    table {
      margin: 30px auto;
      border-collapse: collapse;
      border: 2px solid black;
      width: 80%;
      text-align: left;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
  
      th {
        background-color: #333;
        color: white;
        padding: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }
  
      td {
        border: 2px solid black;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  
  form {
    margin: 30px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  
    label {
      margin-bottom: 10px;
      font-weight: bold;
    }
  
    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    input[type=radio],
    input[type=checkbox] {
      margin-right: 5px;
    }
  
    textarea {
      height: 150px;
      resize: vertical;
    }
  
    select {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    input[type=reset],
    input[type=submit] {
      padding: 10px;
      margin-top: 20px;
      border: none;
      border-radius: 5px;
      background-color: #333;
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: #555;
      }
    }
  
    fieldset {
      margin: 20px 0;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
  
      legend {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
  