.carrousel {
    width: 100%;
  }
  
  .conteCarrousel {
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  
  .itemCarrousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .itemCarrouselTarjeta {
    width: 70%;
    height: 70%;
  }
  
  .itemCarrouselArrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .itemCarrouselArrows > i:hover {
    cursor: pointer;
  }
  
  .conteCarrouselController {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .conteCarrouselController > a {
    text-decoration: none;
    font-size: 2em;
    color: blue;
  }
  
  .itemCarrouselArrows > a > i {
    color: black;
  }
  