.nosotros_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.nosotros_2 > div {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nosotros_2 h1 {
  margin-bottom: 10px;
}

.nosotros_2 p {
  margin-bottom: 10px;
}

.nosotros_2 img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
p {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}