nav {
    background: #DA030B;
    font-family: Arial;
    text-align: center;
    align-items: center;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 30px;
  }
  
  header {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
  
    .menu li { /* Aquí se da la instrucción para alinear horizontalmente el menú */
      display: inline-block;   
      text-align: center;
      justify-content: center;
    }
  
    .menu {    
        a {
        text-decoration: none;
        color: #fff;
        width: 100px;
        display: block;
        min-width: 80px;
        padding: 25px 30px;
        list-style-type: none;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        }
  
        li a {
        display: block;
        padding: 10px;
        min-width: 90px;
        text-decoration: none;
        text-align: center;
        }
  
        a:hover {
        background: #013f94;
        }
    }
  }

main {
    p {
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: black;
        font-weight: bold;
    }
    img {
        
            position: unset;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;              
            max-width: 100%;
            max-height: 100%;
            opacity: 0;
            animation: fade 1s ease-in-out forwards;
          
          
          @keyframes fade {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
    }
}